<template>
  <div>
    <video-player  class="vjs-custom-skin"
                   style="position: absolute"
                   ref="videoPlayer"
                   id="vid"
                   :options="playerOptions"
    ></video-player>
    <div>X coordinate {{ x }}</div>
    <div>Y coordinate {{ y }}</div>
    <div>Timestamp {{ time }}</div>
    <button
        @click="sendCoord"
    >
      Send
    </button>
  </div>
</template>

<script>
import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'
import axios from 'axios'
export default {
  name: "VideoBox",
  components: {
    videoPlayer,
  },
  data: () => ({
    x: null,
    y: null,
    time: null,
    playerOptions: {
      height: '360',
      autoplay: true,
      muted: true,
      language: 'en',
      playbackRates: [0.7, 1.0, 1.5, 2.0],
      sources: [{
        type: "video/mp4",
        src: "https://player.vimeo.com/external/408278747.sd.mp4?s=22ce19663174765b4faafb6e11fca46620149ad3&profile_id=165&oauth2_token_id=57447761",
      }],
    }
  }),
  mounted() {
    document.querySelector('#vid').addEventListener('mousedown', this.logEvent)
  },
  beforeDestroy() {
    document.querySelector('#vid').removeEventListener('mousedown', this.logEvent)
  },
  computed: {
    player() {
      return this.$refs.videoPlayer.player
    }
  },
  methods: {
    logEvent (e) {
      this.x = e.offsetX
      this.y = e.offsetY
      this.time = this.player.controlBar.currentTimeDisplay.formattedTime_
      console.log('clicking', e.offsetX, e.offsetY)
      console.log('this is current player instance object', this.player.controlBar.currentTimeDisplay.formattedTime_)
    },
    sendCoord () {
      axios.post('/api', {
        x: this.x,
        y: this.y,
        time: this.time,
      })
    },
  },
}
</script>

<style scoped>

</style>